@import "tailwindcss";

*{

  font-family: poppins;
}
/* @keyframes float {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translate(-20px);
  }
  100% {
    transform: translate(0px);
  }
} */

.animate-float {
  animation: float 6s ease-in-out infinite;
}

#log{

  background-color: #00000090;
}

#log1{
   
  background-color: #00000090;
}

::-webkit-scrollbar{
  display: none;
}